*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'RightGroteskBold';
    src: url("Fonts/RightGrotesk-CompactBlack.otf");
}
@font-face {
    font-family: 'RightGrotesk';
    src: url("Fonts/RightGrotesk-Regular.ttf");
}
html,body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
}

nav{
    height: 90px;
    width: 100%;
    border: .2vw solid #111;
    display: flex;
    align-items: center;
    margin-top: 1.5vw;
}
nav .left{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-right: .2vw solid #111;
    padding: .4vw 3vw;
    height: 100%;
    width: 40vw;
}

.left .logo a{
    text-decoration: none;
    color: #111;
    font-size: 3.3vw;
    font-family: 'RightGroteskBold';
}
.left .logo span{
    font-size: 2.3vw;
    font-weight: 700;
}
.left .logo p{
    font-size: 1vw;
    text-align: right;
}
nav p{
    font-family: 'RightGrotesk'; 
}
nav .left p{
    margin-left: 5vw;
    font-size: 1.4vw;
}

nav .mid{
    height:100%;
    width: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right:.2vw solid #111;
}

nav .blog{
    height: 100%;
    width: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right:.2vw solid #111;
}
nav .right{
    height: 100%;
    width: 5vw;
    /* border: 1px solid #111; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2vw;
}
nav .right i{
    font-size: 1.5vw;
    font-weight: 500;
}

/* nav section ends----------------------- */

.hero{
    height: 90%;
    width: 100%;
    /* border: 1px solid #111; */
    position: relative;
    padding: 4vw;
}
.hero .videoContainer{
    height: 100%;
    width: 100%;
    position: relative;
    /* border: 1px solid #111; */
}

.videoContainer video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 4;
}
.videoContainer .content{
    height: 50%;
    width: 100%;
    padding:1vw 2vw;
    /* background-color: aquamarine; */
    position: absolute;
    bottom: 0;
    left: 0;
}
.videoContainer .content .up{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.videoContainer .content .up h1{
    font-family:'RightGroteskBold';
    font-size: 4.2vw;
    line-height: .85;
    color: #fff;
}
.box{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: relative;
    /* background-color: #111; */
    border: 1px solid #ddd;
    /* overflow: hidden; */
}
.box .in{
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.box .in p{
    color: #fff;
}


.line{
    height: .3vh;
    background-color: #fff;
    width: 100%;
    margin-top: 4vh;
}
.down{
    margin-top: 1vw;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.down p{
    font-size: 1.5vw;
    font-family:'RightGrotesk';
    color: #fff;
    font-weight: 500;
}
.down i{
    color: #fff;
    font-size: 3vw;
}

/* hero section ends-------------------------------------------- */

.models{
    height: 40%;
    width: 100%;
    /* background-color: aqua; */
    padding: 1vw;
    display: flex;
    overflow-x: hidden;
    overflow-y: hidden;
   

}
.models::-webkit-scrollbar{
    display: none;
}
.imgDiv{
    flex-shrink: 0;
    height: 100%;
    width: 100%;
    /* background-color: purple; */
    display: flex;
    align-items: center;
    animation: scroll 11s infinite linear;

}
.imgDiv img{
    height: 80%;
    width: 15%;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
    margin-right: 20px;

}

@keyframes scroll {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100%);
    }
    
}

/* models section ends--------------------------------------- */

.letters{
    width: 100%;
    height: 5vw;
    border-top: .2vw solid #111;
    border-bottom: .2vw solid #111;
    display: flex;
    align-items: center;
    padding: 1vw 4vw;
    gap: 1vw;
    cursor: pointer;
    
}
.letters h3{
    
    font-family: 'RightGrotesk';
    text-transform: uppercase;
    font-style: italic;
    font-size: 2.3vw;
    font-weight: 400;
    border-bottom: .2vw solid #111;
}
.letters .alphabet{
    height: 100%;
    width: 100%;
    margin-left: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.letters p{
    text-transform: uppercase;
    font-family: 'RightGrotesk';
    font-style: italic;
    font-size: 1.3vw;
    /* background-color: #ddd; */
    padding: .5vw .7vw;
    margin-left: 1vw;
    border-radius: 50%;
    transition: all;
    transition-duration: .5s;
    transition-timing-function: linear;
    transition-delay: .5s;
    
}

.letters p:hover{
    border: .1vw solid #ddd;
}

/* letters section ends------------------------------------------- */

.page_2{
    width: 100%;
    height: 100%;
    padding: 3.5vw;
    display: flex;
    justify-content: center;
    gap: 2vw;
    
}
.page_2 .left{
    height: 100%;
    width: 50%;
  
}
.page_2 .left img{
    width: 100%;
    height: 90%;
    object-fit: cover;
    
}

.page_2 .left h1{
    font-family: 'RightGroteskBold';
    font-size: 3.3vw;
}
.page_2 .right{
    height: 100%;
    width: 30%;
    
}

.page_2 .right img{
    width: 100%;
    height: 70%;
    object-fit: cover;
}
.page_2 .right .txt{
    display: flex;
    justify-content: space-around;
}

.page_2 .right .txt p{
    width: 50%;
    font-family: 'RightGrotesk';
    font-size: 1vw;

}

.page_2 .right .txt h3{
    font-family: 'RightGrotesk';
    font-size: 1.5vw;
    font-weight: 500;

}